.container {
  color: white;
  display: inline-flex;
  border-radius: 18px;
  align-items: center;
}
.danger.container {
  background-color: #f4433640;
}
.warning.container {
  background-color: #ff980040;
}
.info.container {
  background-color: #2196f340;
}
.success.container {
  background-color: #4caf5040;
}

.head {
  border-radius: 18px;
  width: 18px;
  height: 18px;
  padding: 0 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.danger .head {
  background-color: #f44336;
}
.warning .head {
  background-color: #ff9800;
}
.info .head {
  background-color: #2196f3;
}
.success .head {
  background-color: #4caf50;
}

.body {
  padding: 0 var(--spacing-2) 0 var(--spacing-1);
  font-size: 12px;
}
