.address {
  background: #23221c;
  box-shadow: -3px 0px 14px rgba(0, 0, 0, 0.1);
  margin-left: -32px;
}
.address:first-child {
  margin-left: 0;
  z-index: 3;
}
.address:nth-child(2) {
  z-index: 2;
}
.address:nth-child(3) {
  z-index: 1;
}
.connectionStack {
  display: flex;
  padding: 0 0 20px 0;
  min-width: 505px;
}
/* .connectionStack:hover .address,
.connectionStack:hover .address:before {
  border-color: rgba(217, 212, 173, 0.5);
} */
.address:first-child > div {
  padding-left: var(--spacing-3);
}

.helper {
  position: absolute;
  bottom: -28px;
  left: 36px;
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  font-size: 14px;
  color: #d9d4ad;
}
.address:first-child .helper {
  left: 4px;
}
