.container {
  padding: 0px !important;
}

.routesLink {
  color: #b4b08f;
  font-family: Spectral;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  text-decoration-line: underline;
}

.routeStackContainer {
  padding: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  min-width: 165px;
}
.routeModContainer {
  padding-left: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: auto;
  gap: 8px;
  border-right: 1px solid rgba(180, 176, 143, 0.3);
  border-left: 1px solid rgba(180, 176, 143, 0.3);
}

.routeArrowContainer {
  display: flex;
  gap: 1px;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}
.routeModArrowContainer {
  display: flex;
  gap: 1px;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(calc(-50% - 10px));
}

.grow {
  flex-grow: 1;
}

.routeStack {
  display: flex;
  width: 100%;
  gap: 8px;
}

.connectionsLabel {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
  font-size: 12px;
}
