.form {
  flex-grow: 1;
}
.status {
  margin-left: 0;
  margin-top: -3px;
  height: 28px;
  width: 28px;
}

.error {
  color: crimson;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}
h2 {
  font-size: 1.5em;
  margin: 0em 0em 0.5em 0em;
}
h3 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
  line-height: 1.2;
}
.connectionItem {
  position: relative;
}
.connectionButton {
  padding: calc(var(--spacing-3) - 1px);
}
.connectionEdit {
  position: absolute;
  top: calc(var(--spacing-3));
  right: calc(var(--spacing-3) - 2px);
  /* 
    the following !important modifiers allow
    this class to override the BlockButton's 
    .button class. 
  */
  display: flex !important;
  width: auto !important;
  align-items: center;
  column-gap: 10px;
}
.connectionHeader {
  margin-bottom: var(--spacing-2);
}
