@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-color: rgba(217, 212, 173, 0.3);
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src:
    url(./assets/fonts/RobotoMono/roboto-mono-v13-latin-regular.woff)
      format('woff2'),
    url(./assets/fonts/RobotoMono/roboto-mono-v13-latin-regular.woff2)
      format('woff');
}

.walletconnect-modal__base a {
  color: black;
  text-decoration: none;
}
