.blockies {
  overflow: hidden;
  width: 25px;
  aspect-ratio: 1;
  flex-shrink: 0;
}
.blockies img {
  border-radius: 50%;
  width: 100%;
}

.address {
  font-family: 'Roboto Mono', monospace;
}

.addressContainer {
  padding: 10px;
  flex-shrink: 0;
}

.link {
  text-decoration: none;
}

.contractName {
  overflow: hidden;
  text-overflow: ellipsis;
}
