.container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 575px;
}

.header {
  margin-bottom: 2em;
}

.header p {
  text-align: center;
}

h1 {
  margin: 0;
}
