.blockies {
  overflow: hidden;
  aspect-ratio: 1;
  flex-shrink: 0;
}
.blockies img {
  border-radius: 50%;
  width: 20px;
}

.addressContainer {
  flex-shrink: 0;
}

.link {
  display: flex;
  padding: var(--spacing-1);
  align-items: center;
  justify-content: center;
}

.contractName {
  overflow: hidden;
  text-overflow: ellipsis;
}
