.connectedContainer {
  position: relative;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border: 1px solid rgba(217, 212, 173, 0.8);
  box-sizing: border-box;
  min-height: 66px;
}

.connectedAccount {
  display: flex;
  align-items: center;
  gap: 16px;
}

.walletLogo {
  border: 1px solid rgba(0, 166, 56, 0.47);
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
}

.walletLogo:before {
  content: ' ';
  position: absolute;
  z-index: 1;
  inset: 3px;
  border: 1px solid rgba(0, 166, 56, 0.47);
  border-radius: 50px;
  pointer-events: none;
}

.walletLogo img {
  width: 50%;
}

.pilotAddress {
  font-size: 14px;
}

.connectionWarning {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

button.disconnectButton {
  background: none;
  width: fit-content;
  padding: 4px 8px;
  font-size: 14px;
}

button.walletButton {
  font-size: 14px;
}
