.container {
  position: relative;
  font-size: 0.75em;
}
.header {
  padding: 0;
  margin: 0 var(--spacing-2) 0 0;
}
.wrapper {
  flex-grow: 1;
}
.body {
  overflow-y: auto;
  flex-grow: 1;
}

.footer {
}

.contractCall fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
