.container {
  position: relative;
}
.header {
  padding: 0;
  margin: 0 var(--spacing-2) 0 0;
}
.headerButtons {
  margin: 0 0 0 auto;
}
.wrapper {
  height: 100%;
  overflow: hidden; /* required for making the body's overflow-y: auto take effect :/  */
}
.body::-webkit-scrollbar {
  width: 3px;
}
.body {
  overflow-y: auto;
  flex-grow: 1;
  width: 501px;
}

.badgeContainer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  padding-top: 10px;
}
.checkContainer {
  position:absolute;
  bottom: 0;
  left: 0;
}
.txNumber {
  font-size: 1.3em;
  line-height: 1;
}
.collapsed {
  position: relative;
  padding-top: 33px;
}

.collapsed .body {
  width: 40px;
}

.index {
  border: 1px solid var(--border-color);
  border-radius: 50%;
  padding: 2px 4px 0;
  margin-right: 8px;
  min-width: 12px;
  text-align: center;
  display: inline-block;
  font-size: 0.75em;
}

.transaction label {
  display: block;
  margin-top: var(--spacing-3);
}
.transaction label > span:first-child {
  font-size: 0.75em;
}
.transaction fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.transaction input {
  border: none;
  padding: 0;
  height: 24px;
}
.rawTxData {
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  word-wrap: break-word;
}

.inputType {
  padding-left: var(--spacing-1);
  opacity: 0.7;
}

.removeTransaction {
  position: absolute;
  top: 0;
  right: 0;
}

.transactionTitle {
  margin: 0;
  display: inline-block;
}
.transactionSubtitle {
  font-size: 0.75em;
  margin-left: 30px;
}

.transactionStatus {
  font-size: 0.75em;
  margin: var(--spacing-3) 0 0 0;
  padding: var(--spacing-2) 0 0 0;
  border-top: 1px solid var(--border-color);
}

.link {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-1);
}
button.link {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  color: white;
  display: block;
  padding: 0;
  border: none;
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  width: 100%;
}
button.link:hover {
  color: rgba(252, 248, 217, 0.8);
}

.hint {
  margin: auto var(--spacing-3);
  text-align: center;
  opacity: 0.7;
}
.recordingIcon {
  margin: 13px;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  background-color: #e84c3d;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.collapsed .recordingIcon {
  position:absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
  }
}
