.container {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(217, 212, 173, 0.2);
  padding-right: 30px;
}

.blockies {
  overflow: hidden;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.blockies canvas {
  margin-top: -2px;
  margin-left: -2px;
}

.address {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.copy {
}

.link {
  text-decoration: none;
}
