.drawer {
  min-width: 900px;
  width: 50%;
  max-width: 1200px;
  box-sizing: border-box;
  border-left: 1px solid rgba(217, 212, 173, 0.8);
}

.toggleContainer {
  position: absolute;
  top: 48px;
  left: 0;
  transform: translate(-50%);
  z-index: 9000;
}

.toggleBackground {
  background-color: rgb(30 30 18);
}

.toggle {
  width: 60px;
  height: 42px;
  overflow: hidden;
  padding: 0;
  background-color: rgba(211, 224, 173, 0.3);
}

.toggle:hover {
  border-color: rgba(217, 212, 173, 0.8);
}

.drawerContent {
  padding: 50px;
  overflow: auto;
  height: 100%;
  scrollbar-width: none;
}

.drawerContent::-webkit-scrollbar {
  display: none;
}
