.drawer {
  padding: 22px 50px;
}

.toggleContainer {
  position: absolute;
  top: 38px;
  left: 0;
  transform : translate(-84%);
  z-index: 9000;
}

.toggle {
  width: 50px;
  height: 42px;
  overflow: hidden;
  padding: 0;
  background-color: rgba(211, 224, 173, 0.3);
}

.toggle:hover {
  border-color: rgba(217, 212, 173, 0.8);
}

.connectionsList {
  overflow: auto;
  height: 100%;
}

.connectionItemContainer {
  background-color: rgba(39, 38, 30, 0.71);
  border-color:rgba(255, 255, 255, 0.3);
  padding: calc(var(--spacing-3) - 1px);
}

.connectionIcon {
  width: 26px;
  height: 26px;
  overflow: hidden;
  padding: 0;
}

.connectionInfoContainer {
  padding-top: 34px;
}

.modifyButton {
  background-color: none;
}

.addressHelper {
  opacity: 1;
}

h2 {
  margin: 0;
}

hr {
  border: 1px solid rgba(217, 212, 173, 0.4)
}