.browser {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.topBar {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 32px 32px 16px 32px;
}

.main {
  flex-grow: 1;
  padding: 16px 32px 32px 32px;
}

.frame {
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.urlInput {
  background-color: rgba(217, 212, 173, 0.1);
  min-width: 300px;
  position: relative;
}

.appPickerDropdown {
  background-color: #141a2d;
  position: absolute;
  top: 130%;
  left: -44%;
  z-index: 2;
  max-width: 440px;
}

.appName {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-3) !important;
}

.address {
  background: black;
  box-shadow: -3px 0px 14px rgba(0, 0, 0, 0.5);
  margin-left: -32px;
  transition: all 0.2s ease;
}
.address:first-child {
  margin-left: 0;
  z-index: 3;
}
.address:nth-child(2) {
  z-index: 2;
}
.address:nth-child(3) {
  z-index: 1;
}
.addressStack {
  display: flex;
}
.addressStack:hover .address,
.addressStack:hover .address:before {
  border-color: rgba(217, 212, 173, 0.5);
}
.address:first-child > div {
  padding-left: var(--spacing-2);
}

.helper {
  position: absolute;
  top: -22px;
  left: 40px;
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.address:first-child .helper {
  left: 8px;
}
.addressStack:hover .helper {
  opacity: 1;
}
