.form {
  flex-grow: 1;
}
.status {
  margin-left: 0;
  margin-top: -3px;
  height: 28px;
  width: 28px;
}

h2 {
  font-size: 1.5em;
  margin: 0em 0em 0.5em 0em;
}
.labelContainer {
  overflow: hidden;
}

.labelContainer h3 {
  font-size: 1.4em;
  margin-bottom: 0;
  line-height: 1.2;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.connectionItem {
  position: relative;
}
.connectionButton {
  overflow: hidden;
  width: 100%;
  height: 8em;
  padding: calc(var(--spacing-3) - 1px);
}
button.connectionEdit {
  position: relative;
  z-index: 10;
  display: flex;
  width: 8em;
  height: 8em;
  align-items: center;
  column-gap: 10px;
  background: none;
}
.connectionButton:hover .addressHelper {
  opacity: 1;
}

.connectionButton:hover .addressBox,
.connectionButton:hover .addressBox:before {
  border-color: rgba(217, 212, 173, 0.5);
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border: 1px solid rgba(217, 212, 173, 0.8);
}

.avatar {
  display: flex;
  gap: 16px;
  align-items: center;
}

.avatarAddress {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  background: #3e3d2ad1;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid rgba(217, 212, 173, 0.3);
}

.avatarBlockie {
  width: 40px;
  height: 40px;
}

button.removeButton {
  background: none;
  width: fit-content;
  padding: 4px 8px;
  font-size: 14px;
}

.errorIcon {
  color: crimson;
  font-size: 1.7em;
}

.errorInfo {
  flex-grow: 1;
}

.error {
  margin-top: 12px;
  color: crimson;
  background: #f4433640;
  border: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}
