.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  aspect-ratio: 1.5/1;
  padding: 3px;
  cursor: pointer;
  background-color: rgb(35 35 23);
  border: 1px solid rgba(217, 212, 173, 0.3);
  margin: 0 auto;
}

.toggleButton:hover {
  filter: brightness(1.4);
}
