.collapsed {
  background-color: rgba(255, 255, 255, 0.1);
}

.wrapper {
  height: 100%;
}

.divider {
  width: 1px;
  background-color: var(--border-color);
}

.toggleButton {
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 0;
  background-color: rgb(35 35 23);
  border: 1px solid rgba(217, 212, 173, 0.3);
}

.toggleContainer {
  position: absolute;
  top: -5%;
  left: -3%;
}

.toggleContainer.collapsedContainer {
  position: relative;
}
