.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.start {
  justify-content: start;
}
.end {
  justify-content: end;
}
.center {
  justify-content: center;
}
.spaceAround {
  justify-content: space-around;
}
.spaceBetween {
  justify-content: space-between;
}

.gap0 {
  gap: 0;
}
.gap1 {
  gap: var(--spacing-1);
}
.gap2 {
  gap: var(--spacing-2);
}
.gap3 {
  gap: var(--spacing-3);
}
