.appListContainer {
  list-style: none;
  margin: var(--spacing-2) 0 0 0;
  padding: 4px;
  border: 1px solid rgba(217, 212, 173, 0.3);
  background: rgba(217, 212, 173, 0.1);
  display: flex;
  gap: var(--spacing-1);
  overflow-x: scroll;
}
.appButton {
  background: none;
  border: 1px solid rgba(217, 212, 173, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  min-width: 65px;
  padding: var(--spacing-3) var(--spacing-2) var(--spacing-2) var(--spacing-2);
  cursor: pointer;
}
.appButton:hover {
  border-color: rgba(217, 212, 173, 0.8);
  background: rgba(217, 212, 173, 0.1);
}
.logo {
  height: 40px;
}
.name {
  color: white;
  font-family: 'Spectral', serif;
  margin-top: var(--spacing-2);
}
.pickerInput {
  font-family: 'Spectral', serif;
  font-size: 16px;
  padding-left: 40px;
  position: relative;
  z-index: 2;
}
.inputIcon {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
  height: 20px;
  width: 20px;
}
.inputIcon img {
  display: block;
  height: 100%;
}
