.container {
  list-style: none;
  display: flex;
  gap: var(--spacing-1);
  margin: 0;
  padding: 0;
}
.item {
  background: none;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  min-width: 65px;
  padding: var(--spacing-3) var(--spacing-2) var(--spacing-2) var(--spacing-2);
  cursor: pointer;
  transition: all 0.12s ease;
}
.item:hover {
  border-color: rgba(217, 212, 173, 0.8);
  background: rgba(217, 212, 173, 0.1);
}
.logo {
  height: 40px;
}
.name {
  color: white;
  font-family: 'Spectral', serif;
  margin-top: var(--spacing-2);
}

.container.large {
  gap: var(--spacing-3);
}
.container.large .item {
  height: 140px;
  width: 140px;
  padding: var(--spacing-4) var(--spacing-3) var(--spacing-3) var(--spacing-3);
}
.container.large .logo {
  height: 60px;
}
