.editContainer {
  position: relative;
}
h2 {
  font-size: 1.5em;
  margin: 0em;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(217, 212, 173, 0.4);
  margin: 0.5em 0 0 0;
}

.launchButton {
  width: auto;
  padding: 4px 24px;
}

button.removeButton {
  height: auto;
  width: auto;
  aspect-ratio: 1/1;
  padding: 8px;
  border: 1px solid crimson;
  border-radius: 4px;
  background: rgba(217, 212, 173, 0.1);
  backdrop-filter: blur(6px);
}

button.removeButton:hover {
  background-color: rgba(220, 20, 60, 0.2);
}

.backLink {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 0.8em;
  text-decoration: none;
}

.connections {
  border-radius: 16px;
  border: 1px dashed var(--border-color);
  padding: 16px;
  background-color: rgba(0,0,0,0.25);
  width: 100%;
}

.connections.isSelected {
  background-color: rgba(217, 212, 173, 0.1);
  border-color: var(--border-color-2);
}

.connectionsRight {
  margin-bottom: 24px;
  margin-top: 24px;
  overflow: hidden;
  width: 100%;
}
.connectionsRight > h3 {
  font-size: 18px;
  margin: 0;
}

.connectionsLeft {
  border: none;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connectionsLeftArrow {
  height: 100%;
  border: none;
  border-left: 1px dashed var(--border-color);
  width: 1px;
  position: absolute;
  left: calc(50% - 1px);
  padding: 0;
}

.connectionsLeftButton {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  position: absolute;
  border: 1px solid #B4B08F;
  color: #B4B08F;
  background-color: #15120a;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background-color: var(--border-color-2);
  opacity: 0.2;
}

.dot.dotSelected {
  opacity: 1;
}

.arrowButton {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: rgba(217, 212, 173, 0.1);
}
.arrowButton:hover:not([disabled]) {
  background-color: rgba(217, 212, 173, 0.4);
}

.arrowbutton[disabled] {
  opacity: 0.5;
  cursor: default;
}

.addressBlockie {
  width: 24px;
  height: 24px;
}

.addressText {
  font-family: 'Roboto Mono', monospace;
}

.manualLink {
  color: rgba(217, 212, 173, 0.4);
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.manualLink:hover {
  color: rgba(217, 212, 173, 1);
}

.form {
  flex-grow: 1;
}
.status {
  position: relative;
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: 50px;
  background: rgb(0 0 0 / 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}
.status:before {
  content: ' ';
  position: absolute;
  z-index: 1;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px solid var(--border-color);
  pointer-events: none;
  border-radius: 50px;
}

.status svg {
  border-radius: 50px;
}

.labelContainer {
  overflow: hidden;
}

.labelContainer h3 {
  font-size: 1.4em;
  margin-bottom: 0;
  line-height: 1.2;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.infoContainer {
  padding: 0 0 0 45px;
}

.connectionItem {
  position: relative;
}
button.connectionButton {
  width: 100%;
  padding: calc(var(--spacing-4));
  background-color: rgba(39, 38, 30, 0.7);
}
button.connectionEdit {
  position: relative;
  z-index: 10;
  width: auto;
  background: none;
  border-style: solid;
  border-width: 1px;
}

.errorIcon {
  color: crimson;
  font-size: 1.7em;
}

.errorInfo {
  flex-grow: 1;
}

.error {
  margin-top: 12px;
  color: crimson;
  background: #f4433640;
  border: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}