.address {
  background: black;
  box-shadow: -3px 0px 14px rgba(0, 0, 0, 0.5);
  margin-left: -32px;
}
.address:first-child {
  margin-left: 0;
  z-index: 3;
}
.address:nth-child(2) {
  z-index: 2;
}
.address:nth-child(3) {
  z-index: 1;
}
.addressStack {
  display: flex;
}
.addressStack.interactive:hover .address,
.addressStack.interactive:hover .address:before {
  border-color: rgba(217, 212, 173, 0.5);
}
.address:first-child > div {
  padding-left: var(--spacing-2);
}

.helper {
  position: absolute;
  top: -22px;
  left: 40px;
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.address:first-child .helper {
  left: 8px;
}
.addressStack.interactive:hover .helper {
  opacity: 1;
}
