.container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 530px;
}

h1 {
  margin-bottom: 32px;
}

.fieldLabel {
  margin-bottom: 0.3em;
}

.error {
  color: crimson;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.pickerInput {
  font-family: 'Spectral', serif;
  font-size: 16px;
  padding-left: 40px;
  position: relative;
  z-index: 2;
}
.inputIcon {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
  height: 20px;
  width: 20px;
}
.inputIcon img {
  display: block;
  height: 100%;
}
