.container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 530px;
}

h1 {
  margin-bottom: 32px;
}

.error {
  color: crimson;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}
