.zodiacPilot_hint {
  position: fixed;
  top: 35px; /* aligns with the panel */
  right: 35px;
  background: linear-gradient(
    108.86deg,
    rgba(26, 33, 66, 0.85) 6.24%,
    rgba(12, 19, 8, 0.85) 53.08%,
    rgba(37, 6, 4, 0.85) 96.54%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3);
  display: flex;
  padding: 16px;
  gap: 16px;
  backdrop-filter: blur(3px);
}

.zodiacPilot_logo {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.zodiacPilot_body #message {
  color: white;
  font-family: 'Spectral';
  font-size: 16px;
}

.zodiacPilot_actions {
  display: flex;
  gap: 1px;
  padding-left: 8px;
}

.zodiacPilot_actions button {
  cursor: pointer;
  background: none;
  border: none;
  display: block;
  margin: 0;
  padding: 4px;
  opacity: 0.8;
}
.zodiacPilot_actions button:hover {
  opacity: 1;
}

.zodiacPilot_actions button svg {
  display: block;
}
