.box {
  border: 1px solid #d9d4ad4d;
  position: relative;
}
.bg {
  background-color: rgba(217, 212, 173, 0.1);
  background-clip: padding-box;
}
.double:before {
  content: ' ';
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 1px solid rgba(217, 212, 173, 0.3);
  pointer-events: none;
}
.rounded {
  border-radius: 50%;
}
.roundedLeft {
  border-top-left-radius: 5000px;
  border-bottom-left-radius: 5000px;
}

.p1 {
  padding: var(--spacing-1);
}
.p2 {
  padding: var(--spacing-2);
}
.p3 {
  padding: var(--spacing-3);
}
