:root {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 16px;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/RobotoMono/roboto-mono-v13-latin-regular.woff)
      format('woff2'),
    url(./fonts/RobotoMono/roboto-mono-v13-latin-regular.woff2) format('woff');
}

/* spectral-regular - latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Spectral/spectral-v7-latin-regular.woff) format('woff2'),
    url(./fonts/Spectral/spectral-v7-latin-regular.woff2) format('woff');
}

body {
  font-family: 'Spectral';
  color: white;
  min-height: 100vh;
  font-size: 16px;
  background: url(./zodiac-bg.svg) 0% 0% / cover fixed;
  margin: 0px;
  overflow: hidden;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: rgba(252, 248, 217, 0.8);
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 73px;
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
}

input,
select {
  font-size: 14px;
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  color: white;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  line-height: 20px;
  padding: 8px 10px;
  height: 38px;
}

input:hover:enabled,
select:hover:enabled {
  border-color: rgba(217, 212, 173, 0.8);
}

input:active,
select:active,
input:focus,
select:focus {
  border: 1px solid rgba(217, 212, 173, 0.8);
  outline: none;
}

option {
  padding: 0;
}

label .field-label {
  margin-bottom: 0.3em;
}

.walletconnect-modal__base {
  color: black;
}
