:root {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 16px;
}

body {
  font-family: Spectral;
  color: white;
  min-height: 100vh;
  font-size: 16px;
  background: url(./zodiac-bg.svg) 0% 0% / cover fixed;
  margin: 0px;
  overflow: hidden;
}

#root {
  background: linear-gradient(
    108.86deg,
    rgba(26, 33, 66, 0.85) 6.24%,
    rgba(12, 19, 8, 0.85) 53.08%,
    rgba(37, 6, 4, 0.85) 96.54%
  );
  min-height: 100vh;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 73px;
  text-align: center;
  margin: 0;
}

input,
select {
  background-color: transparent;
  color: white;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  line-height: 20px;
  padding: 8px 12px;
  height: 38px;
}

.walletconnect-modal__base a {
  color: black;
}
