.button {
  display: flex;
  padding: var(--spacing-1);
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}
