.container {
  padding: 3%;
  font-size: calc(24px + (24 - 16) * (100vw - 400px) / (800-400));
}

.main {
  padding: 0;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(500px, 1.6fr);
  gap: 0;
  max-width: 1500px;
  margin: 0 auto;
}

h1 {
  font-size: 1.6em;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

.descriptionContainer {
  padding: 15% 0 0 15%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  gap: 0.5em;

  background: linear-gradient(
    126.6deg,
    rgba(186, 180, 151, 0.32) 28.69%,
    rgba(64, 63, 54, 0) 100%
  );
}

.description p {
  margin: 0;
  font-size: 0.7em;
  text-align: center;
}

ul {
  padding: 0 10%;
  margin: 0;
}

li {
  list-style-type: '🧪';
  margin-bottom: 1.2em;
  padding-inline-start: 1em;
  font-size: 0.5em;
}
li:nth-child(1) {
  list-style-type: '📦';
}
li:nth-child(2) {
  list-style-type: '⚗️';
}
li:nth-child(3) {
  list-style-type: '🛰';
}
li::marker {
  color: green;
}

.demo {
  padding: 3em 1em;
}

.videoContainer {
  perspective: 2000px;
}

video {
  transform: rotateY(315deg);
  width: 100%;
  box-shadow: 7px 14px 34px rgba(98, 89, 58, 0.5);
}

.button {
  font-family: 'Spectral';
  font-size: 0.7em;
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(43, 34, 101, 0.08) -26.61%,
    #223265 49.61%,
    rgba(43, 34, 101, 0.09) 119.72%
  );
  border: 4px double rgba(217, 212, 173, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: white;
  transition: all 0.1s ease;
}

.button:hover {
  filter: brightness(1.2);
  color: white;
}

.button:hover:enabled {
  cursor: pointer;
  border-color: rgba(217, 212, 173, 0.8);
}

.button:disabled {
  opacity: 0.6;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(
    0,
    rgb(14 14 10) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4%;
}

.guild-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.4em;
}
.guild-badge p {
  margin-left: 0.5em;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20%;
}
.links img {
  opacity: 0.8;
  height: 25px;
}

.links a:hover img {
  opacity: 1;
}

@media (max-width: 830px) {
  .main {
    grid-template-columns: 1fr;
  }
  .descriptionContainer {
    order: 2;
    padding: 5%;
    margin-bottom: 10%;
  }
  .demo {
    order: 1;
    padding: 5%;
  }
  video {
    transform: rotateY(0deg);
  }
}
