.container {
  padding: 6em 2em;
}

.main {
  padding: 0;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(500px, 1.6fr);
  gap: 1em;
  max-width: 1500px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

.descriptionContainer {
  padding: 2em 0em 2em 6em;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
  gap: 2em;

  background: linear-gradient(
    126.6deg,
    rgba(186, 180, 151, 0.12) 28.69%,
    rgba(255, 255, 255, 0) 100%
  );
}

.description p {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

ul {
  padding: 0 5em;
  margin: 0;
}

li {
  list-style-type: '🧪';
  margin-bottom: 1.2em;
  padding-inline-start: 1em;
  font-size: 1.5em;
}
li:nth-child(1) {
  list-style-type: '📦';
}
li:nth-child(2) {
  list-style-type: '⚗️';
}
li:nth-child(3) {
  list-style-type: '🧩';
}
li:nth-child(4) {
  list-style-type: '🛰';
}
li::marker {
  color: green;
}

.demo {
  padding: 3em 1em;
}

.videoContainer {
  perspective: 2000px;
}

video {
  transform: rotateY(315deg);
  width: 100%;
  box-shadow: 7px 14px 34px rgba(98, 89, 58, 0.5);
}

.button {
  font-family: 'Spectral';
  font-size: 1.5em;
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(43, 34, 101, 0.08) -26.61%,
    #223265 49.61%,
    rgba(43, 34, 101, 0.09) 119.72%
  );
  border: 4px double rgba(217, 212, 173, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: white;
  transition: all 0.1s ease;
}

.button:hover {
  filter: brightness(1.2);
  color: white;
}

.button:hover:enabled {
  cursor: pointer;
  border-color: rgba(217, 212, 173, 0.8);
}

.button:disabled {
  opacity: 0.6;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(
    0,
    rgb(14 14 10) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.guild-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  text-decoration: none;
  font-size: 1.2em;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
}
.links img {
  opacity: 0.6;
  height: 20px;
}

.links a:hover img {
  opacity: 1;
}
