.errorIcon {
  color: crimson;
  font-size: 1.7em;
}

.errorInfo {
  flex-grow: 1;
}

.error {
  margin-top: 12px;
  color: crimson;
  background: #f4433640;
  border: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}
