.button {
  box-sizing: border-box;
  border: 3px double var(--border-color);
  transition: all 0.1s ease;
  background-color: rgba(217, 212, 173, 0.1);
  background-clip: padding-box;
  color: white;
  font-size: inherit;
  font-family: inherit;
}

.button:hover:enabled {
  cursor: pointer;
  border-color: rgba(217, 212, 173, 0.8);
}
