.button {
  display: block;
  background: none;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  text-align: inherit;
  align-items: normal;
  box-sizing: border-box;
}

.button:enabled {
  cursor: pointer;
}
