.modOption {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 0;
}

.modOption .modBlockie {
  width: 40px;
  height: 40px;
}

.modLabel {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modLabel .type {
  font-family: 'Spectra';
  font-size: 1rem;
  padding-left: 4px;
}

.modLabel .address {
  font-size: 14px;
}
