.modOption {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
}

.modOption .modBlockie {
  width: 40px;
  height: 40px;
}

.modLabel {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modLabel .type {
  font-family: 'Spectra';
  font-size: 1rem;
  padding-left: 4px;
}

.modLabel .address {
  padding: 4px 8px;
  background: #3e3d2ad1;
  border-radius: 4px;
  border: 1px solid rgba(217, 212, 173, 0.3);
}
