.toast,
.toastError {
  border-radius: 0;
  border: 1px solid var(--border-color);
  background-color: rgb(35 35 23);
}

.toastError {
  background: rgb(49 6 6);
}

.toastBody {
  font-family: 'Spectral', serif;
  color: white;
}

.toastBody code {
  font-size: 12px;
  background: #0000005e;
  display: block;
  padding: 6px;
  margin-top: 4px;
}

.toastBody a {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.toastProgress {
  background: var(--border-color);
}
