name: Release Extension

on:
  release:
    types: released

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Extension
    env:
      COMPANION_APP_URL: https://app.pilot.gnosisguild.org
    defaults:
      run:
        working-directory: ./deployables/extension
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.14.0
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Install deps and build
        run: |
          pnpm install --prefer-offline
          pnpm build
        env:
          NODE_ENV: production
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_RELEASE: ${{ github.event.release.tag_name }}

      - name: Update manifest.json with release tag
        run: pnpm update-manifest -v ${{ github.event.release.tag_name }}

      - name: Create extension zip file
        run: pnpm zip

      - name: Add zip to Github release
        uses: softprops/action-gh-release@fbadcc90e88ecface60a0a0d123795b784ceb239
        with:
          files: ./deployables/extension/zodiac-pilot.zip

      - name: Publish to Chrome Web Store
        uses: puzzlers-labs/chrome-webstore-publish@4411b35bd079298ee05ac95649f0e85fdd687e0a
        with:
          extension_id: jklckajipokenkbbodifahogmidkekcb
          zip_file_path: ./deployables/extension/zodiac-pilot.zip
          client_id: ${{ secrets.CHROME_WEBSTORE_CLIENT_ID }}
          client_secret: ${{ secrets.CHROME_WEBSTORE_CLIENT_SECRET }}
          refresh_token: ${{ secrets.CHROME_WEBSTORE_REFRESH_TOKEN }}
          publish_target: public
          expedited_review: true # This does not guarantee an expedited Review process. But it makes an attempt.

      - name: Create Sentry release
        uses: getsentry/action-release@v3
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: gnosis-guild
          SENTRY_PROJECT: pilot-extension
        with:
          environment: production
